{% load static %}
{% load blank_tags %}

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 flex flex-1 flex-wrap place-content-between">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Мои бланки</h1>
        {% if blanks %}
        <button type="" id="add_new_blank_header_button" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Добавить бланк +</button>
        {% endif %}
        <div class="text-s font-normal w-full">Здесь вы можете управлять своими бланками: добавлять, удалять и настраивать</div>
    </div>
</header>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 main-content">
    {% if blanks %}
    <table class="border-collapse border border-slate-400 w-full mt-5 table-auto mb-8 shadow-md">
        <thead>
        <tr class="odd:bg-slate-50">
            <th class="border border-slate-300 py-8 px-2">#</th>
            <th class="border border-slate-300 py-8 px-2">Добавлен</th>
            <th class="border border-slate-300 py-8 px-2">Имя файла</th>
            <th class="border border-slate-300 py-8 px-2">Настройки</th>
            <th class="border border-slate-300 py-8 px-2">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for blank in blanks %}
        <tr class="even:bg-slate-50 odd:bg-slate-100 product_row" id="product_row_{{ blank.blank_id }}">
            <td class="border py-8 px-2 border-slate-300 text-center px-2">{{ forloop.counter }}</td>
            <td class="border py-8 px-2 border-slate-300 text-center">{{ blank.ts_created|date:'d.m.Y' }}</td>
            <td class="border py-8 px-2 border-slate-300 text-center">{{ blank.blank_filename_original }}</td>
            <td class="border py-8 px-2 border-slate-300 text-center">
                <a href="{% url 'configure' blank.blank_id %}">
                    <svg class="cursor-pointer delay-350 ease-in-out transition h-6 w-6 text-gray-200 hover:text-red-500 inline" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M.974 8.504l1.728-.825a.94.94 0 00.323-1.439l-1.21-1.498a7.009 7.009 0 011.494-1.895l1.727.847a.931.931 0 001.32-.642l.407-1.88a6.96 6.96 0 012.412.001L9.6 3.057a.934.934 0 001.323.637l1.721-.847a7.053 7.053 0 011.511 1.894L12.957 6.24a.942.942 0 00.33 1.437l1.74.826a7.086 7.086 0 01-.529 2.362l-1.914-.012a.935.935 0 00-.912 1.155l.446 1.874a7.002 7.002 0 01-2.17 1.05l-1.194-1.514a.93.93 0 00-1.466.002l-1.18 1.512a7.09 7.09 0 01-2.178-1.05l.43-1.878a.94.94 0 00-.917-1.15l-1.92.011a7.095 7.095 0 01-.06-.149 7.102 7.102 0 01-.488-2.212zM9.96 7.409a2.11 2.11 0 01-1.18 2.74 2.11 2.11 0 01-2.733-1.195 2.11 2.11 0 011.179-2.741A2.11 2.11 0 019.96 7.409z" fill="#000"></path>
                    </svg>
                </a>
            </td>
            <td class="border py-8 px-2 border-slate-300 text-center">
                <svg id="trash_img_{{ blank.blank_id }}" class="cursor-pointer delay-350 ease-in-out transition h-8 w-8 text-gray-200 hover:text-red-500 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" onclick="deleteBlank('{{ blank.blank_id }}')">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                </svg>
                <div style="display: none" id="cart_loader_{{ blank.blank_id }}" class="lds-ripple-small"><div></div><div></div></div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if not blanks %}
    <div class="rounded-lg p-24 bg-gray-100 my-12" id="first_blank_form">
        <form action="{% url 'upload_blank' %}" method="post" enctype="multipart/form-data" id="getFile">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <p class="text-center font-medium" style="font-size: 24px; font-weight: bold;">Добавить бланк<br>
                <span id="add_file_button" onclick="document.getElementById('add_file').click()">
                    <svg class="m-6 cursor-pointer" style="width: 50px; height: 50px; display: inline-block;" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1267.000000pt" height="1280.000000pt" viewBox="0 0 1267.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M6150 12794 c-195 -19 -398 -76 -550 -155 -338 -176 -592 -520 -691 -938 -54 -226 -52 -157 -56 -2058 l-4 -1763 -1712 0 c-1854 0 -1839 0 -2071 -54 -403 -96 -739 -346 -906 -676 -114 -227 -170 -514 -157 -817 17 -398 156 -724 421 -989 200 -199 415 -319 695 -385 204 -49 183 -49 2013 -49 l1717 0 4 -1762 c4 -1902 2 -1833 56 -2059 100 -421 345 -751 688 -927 124 -64 249 -105 402 -134 168 -32 494 -32 663 0 300 56 514 167 713 366 234 236 365 511 421 886 16 105 18 270 21 1873 l4 1757 1717 0 c1888 0 1849 -1 2091 61 400 103 715 350 886 698 151 305 196 741 115 1126 -83 402 -328 720 -697 907 -120 62 -190 87 -332 123 -218 55 -211 55 -2068 55 l-1712 0 -4 1763 c-3 1564 -5 1774 -20 1869 -59 391 -203 678 -463 928 -184 177 -393 280 -669 331 -108 20 -406 33 -515 23z"/>
                        </g>
                    </svg>
                </span>
                <input type="file" id="add_file" name="file" hidden>
            </p>
        </form>
    </div>
    {% else %}
    <form action="{% url 'upload_blank' %}" method="post" enctype="multipart/form-data" id="getFile">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="file" id="add_file" name="file" hidden>
        <input type="submit" value="Отправить" hidden>
    </form>
    {% endif %}

    <div class="rounded-lg p-24 bg-gray-100 my-12 hidden" id="first_blank_form_spare">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <p class="text-center font-medium" style="font-size: 24px; font-weight: bold;">Добавить бланк<br>
                <span onclick="document.getElementById('add_file_spare').click()">
                    <svg class="m-6 cursor-pointer" style="width: 50px; height: 50px; display: inline-block;" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1267.000000pt" height="1280.000000pt" viewBox="0 0 1267.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M6150 12794 c-195 -19 -398 -76 -550 -155 -338 -176 -592 -520 -691 -938 -54 -226 -52 -157 -56 -2058 l-4 -1763 -1712 0 c-1854 0 -1839 0 -2071 -54 -403 -96 -739 -346 -906 -676 -114 -227 -170 -514 -157 -817 17 -398 156 -724 421 -989 200 -199 415 -319 695 -385 204 -49 183 -49 2013 -49 l1717 0 4 -1762 c4 -1902 2 -1833 56 -2059 100 -421 345 -751 688 -927 124 -64 249 -105 402 -134 168 -32 494 -32 663 0 300 56 514 167 713 366 234 236 365 511 421 886 16 105 18 270 21 1873 l4 1757 1717 0 c1888 0 1849 -1 2091 61 400 103 715 350 886 698 151 305 196 741 115 1126 -83 402 -328 720 -697 907 -120 62 -190 87 -332 123 -218 55 -211 55 -2068 55 l-1712 0 -4 1763 c-3 1564 -5 1774 -20 1869 -59 391 -203 678 -463 928 -184 177 -393 280 -669 331 -108 20 -406 33 -515 23z"/>
                        </g>
                    </svg>
                </span>
                <input type="file" id="add_file_spare" name="file" hidden>
            </p>
        </form>
    </div>
</div>
